*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

#r-wheel, 
#l-wheel{
    animation: wheels 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    }

#hat{
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;

}

@keyframes wheels{
        from{
            transform: rotateZ(0deg);
        }
        to{
            transform: rotateZ(360deg);
        }
    }

@keyframes hat{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-20%) ;
    }
}