body {
    background-image: url('pink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightpink;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: paleturquoise;
    text-decoration: none;
}

a:hover {
color:springgreen;
border-bottom-color: springgreen;
padding-bottom: 6px;
}
.statue {
width: 500px;
}
.inspire{
    height: 150px;
    background-color: whitesmoke;
    padding: 20px;
    border: 2px solid paleturquoise;
}

.button{
    background-color: palevioletred;
    padding: 10px;
    color: whitesmoke;
    border: none;
    border-radius: 12px; 
}
.button:hover {
    background-color: lightpink;
}

.wrapper {
    width: 80%;
    margin: auto;
}

/* font-family: 'Luxurious Roman', cursive;
font-family: 'Orelega One', cursive; */

h1{
    font-family: 'Orelega One', cursive;
    font-size: 120px;
}

h2{
    font-family: 'Luxurious Roman', cursive;
}


